body {
    background-color: rgba(245, 245, 245, 0.616);
}

/* .logoBox {

} */

.logoPic {
    height: 2.5em; 
    width: auto;
    margin: .5em;
}

.roadTripImage {
    height: 32em;
    width: auto;
    display: flex;
    align-self: center;
}

.topOfPage {
    background-image: url("../images/roadtrip.jpg");
    background-color: rgba(245, 245, 245, 0.616);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
}

.buttons {
    display: flex;
    align-items: flex-end;
    /* align-self: center; */
    justify-content: space-around;
}

.parkHeader {
    display: flex;
    justify-content: center;
    margin: 2em;
    font-family: 'Fredericka the Great', cursive;
}

h1{
    font-size: 2em;
}

.eatBazzarContainer {
    display: flex;
    justify-content: space-around;
    margin: 2em;    
}

.eateries {
    /* border: 1em solid black; */
    flex-basis: 30%;
    font-family: 'Courier Prime', monospace;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 1em; 
}

.bizzarr {
    /* border: 1em solid goldenrod; */
    flex-basis: 30%;
    font-family: 'Courier Prime', monospace;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 1em;
}

/* *************************** WEATHER  **************************** */

/* .weatherContainer {
    display: flex;    
    justify-content: center;
}

.weather {
    border: 1em solid skyblue;
    align-self: center;
    flex-basis: 85%;
} */

/*
*********************************************
*/

/* Styles */

body {
    background: #dce2e5;
    font-family: 'Courier Prime', monospace;
    font-weight: 100;
    font-size: 11px;
  }
  
  .component__weather-box {
    margin: 30px auto;
    width: 420px;
    /* border: 1px solid skyblue; */
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 5px 20px 1px #444;
  }
  
  .component__weather-content {
    position: relative;
    overflow: hidden;
    color: black;
    /* background:skyblue; */
    height: 120px;
  }
  
  .component__weather-content:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.3;
    /* background-image: url("https://nunnz.files.wordpress.com/2013/11/4.jpg");
    background-repeat: no-repeat;
    background-position: 0 63%;
    background-size: cover; */
  }
  
  .weather-content__overview {
    width: 50%;
    text-align: center;
    display: inline-block;
    float: left;
    z-index: 2;
    position: relative;
  }
  
  h1 {
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 0.75em;
  }
  
  .weather-content__temp {
    width: 50%;
    z-index: 2;
    text-align: center;
    float: left;
    font-size: 50px;
    text-align: center;
    margin-top: 0.5em;
    position: relative;
    vertical-align: middle;
  }
  
  .weather-content__temp .degrees {
    line-height: 40px;
  }
  
  .weather-content__temp .wi-degrees {
    margin-left: -10px;
    vertical-align: top !important;
  }
  
  .currentTemp .wi {
    margin-right: 20px;
    font-size: 40px;
    vertical-align: baseline;
  }
  
  .component__forecast-box {
    display: flex;
    clear: both;
  }
  
  .forecast__item {
    flex: 1;
    text-align: center;
  }
  
  .forecast-item__heading {
    /* background: rgb(29, 176, 224); */
    border: 1px solid black;
    border-left: none;
    text-transform: uppercase;
    color: black;
    font-weight: 800;
    padding: 10px;
  }
  
  .forecast-item__info {
    /* background: skyblue; */
    color: black;
    padding-bottom: 10px;
    border-right: 1px solid black;
  }
  
  .forecast-item__info .wi {
    display: block;
    margin: 0 auto;
    font-size: 24px;
    padding: 15px 0;
  }
  
  .forecast-item__info .degrees {
    font-size: 20px;
    line-height: 20px;
  }
  
  .forecast-item__info .degrees .wi-degrees {
    display: inline;
  }
  
  small {
    font-size: 12px;
  }


/*
*********************************************
*/
    
footer {
    text-align: center;
    margin: 3em;
}


.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
